In [3]:
import pandas as pd 
from pathlib import Path 
import matplotlib.pyplot as plt 
import numpy as np

In [4]:
#upload dataset 

diabetes_data = Path("Resources/Diabetes Binary Health Indicators.csv")

df_diabetes = pd.read_csv(diabetes_data)

#load dataset into dataframe 

df_diabetes.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [10]:
df_diabetes.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [15]:

df_clean = df_diabetes[['Diabetes_binary', 'HighBP', 'HighChol', 'BMI', 'Smoker','HeartDiseaseorAttack', 'Stroke','PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'Sex', 'Age', 'Education']]

df_clean.head()

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,HeartDiseaseorAttack,Stroke,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,Sex,Age,Education
0,0.0,1.0,0.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,4.0,6.0
1,0.0,1.0,1.0,26.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,12.0,6.0
2,0.0,0.0,0.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,13.0,6.0
3,0.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,11.0,6.0
4,0.0,0.0,0.0,29.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,8.0,5.0

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,HeartDiseaseorAttack,Stroke,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,Sex,Age,Education
70687,1.0,0.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0
70688,1.0,0.0,1.0,29.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,10.0,3.0
70689,1.0,1.0,1.0,25.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,13.0,6.0
70690,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,2.0
70691,1.0,1.0,1.0,25.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,9.0,6.0